*{margin: 0; padding: 0;}
.ui.menu.fluid, .ui.vertical.menu.fluid.nav{
    background-color: #373330 !important;
    border-radius: 0px !important;
    height: 100%;
    border: 0px !important;
    position: fixed ;
    width: 12% !important;
    display: block !important;
    z-index: 16;
}

a.item:hover {
    background-color: white !important;
    color: rgb(55, 51, 48) !important;
}

.ui.menu .active.item{
    background-color: white !important;
    color: rgb(55, 51, 48) !important;
}